ForegroundColour={{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}}
BackgroundColour={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}
CursorColour={{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}}
Black={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}
BoldBlack={{base03-rgb-r}},{{base03-rgb-g}},{{base03-rgb-b}}
Red={{base08-rgb-r}},{{base08-rgb-g}},{{base08-rgb-b}}
BoldRed={{base09-rgb-r}},{{base09-rgb-g}},{{base09-rgb-b}}
Green={{base0B-rgb-r}},{{base0B-rgb-g}},{{base0B-rgb-b}}
BoldGreen={{base01-rgb-r}},{{base01-rgb-g}},{{base01-rgb-b}}
Yellow={{base0A-rgb-r}},{{base0A-rgb-g}},{{base0A-rgb-b}}
BoldYellow={{base02-rgb-r}},{{base02-rgb-g}},{{base02-rgb-b}}
Blue={{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}}
BoldBlue={{base04-rgb-r}},{{base04-rgb-g}},{{base04-rgb-b}}
Magenta={{base0E-rgb-r}},{{base0E-rgb-g}},{{base0E-rgb-b}}
BoldMagenta={{base06-rgb-r}},{{base06-rgb-g}},{{base06-rgb-b}}
Cyan={{base0C-rgb-r}},{{base0C-rgb-g}},{{base0C-rgb-b}}
BoldCyan={{base0F-rgb-r}},{{base0F-rgb-g}},{{base0F-rgb-b}}
White={{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}}
BoldWhite={{base07-rgb-r}},{{base07-rgb-g}},{{base07-rgb-b}}
