Windows Registry Editor Version 5.00

; Base16 {{scheme-name}} (https://github.com/chriskempson/base16)
; Scheme: {{scheme-author}}

[HKEY_CURRENT_USER\Console]
"ColorTable00"=dword:00{{base00-hex-b}}{{base00-hex-g}}{{base00-hex-r}} ; base00
"ColorTable01"=dword:00{{base0D-hex-b}}{{base0D-hex-g}}{{base0D-hex-r}} ; base0D
"ColorTable02"=dword:00{{base0B-hex-b}}{{base0B-hex-g}}{{base0B-hex-r}} ; base0B
"ColorTable03"=dword:00{{base0C-hex-b}}{{base0C-hex-g}}{{base0C-hex-r}} ; base0C
"ColorTable04"=dword:00{{base08-hex-b}}{{base08-hex-g}}{{base08-hex-r}} ; base08
"ColorTable05"=dword:00{{base0E-hex-b}}{{base0E-hex-g}}{{base0E-hex-r}} ; base0E
"ColorTable06"=dword:00{{base09-hex-b}}{{base09-hex-g}}{{base09-hex-r}} ; base09
"ColorTable07"=dword:00{{base05-hex-b}}{{base05-hex-g}}{{base05-hex-r}} ; base05
"ColorTable08"=dword:00{{base03-hex-b}}{{base03-hex-g}}{{base03-hex-r}} ; base03
"ColorTable09"=dword:00{{base01-hex-b}}{{base01-hex-g}}{{base01-hex-r}} ; base01
"ColorTable10"=dword:00{{base02-hex-b}}{{base02-hex-g}}{{base02-hex-r}} ; base02
"ColorTable11"=dword:00{{base03-hex-b}}{{base03-hex-g}}{{base03-hex-r}} ; base03
"ColorTable12"=dword:00{{base04-hex-b}}{{base04-hex-g}}{{base04-hex-r}} ; base04
"ColorTable13"=dword:00{{base05-hex-b}}{{base05-hex-g}}{{base05-hex-r}} ; base05
"ColorTable14"=dword:00{{base06-hex-b}}{{base06-hex-g}}{{base06-hex-r}} ; base06
"ColorTable15"=dword:00{{base07-hex-b}}{{base07-hex-g}}{{base07-hex-r}} ; base07