{
    "name": "base16-{{scheme-slug}}",
    "background": "#{{base00-hex}}",
    "selectionBackground": "#{{base02-hex}}",
    "black": "#{{base00-hex}}",
    "blue": "#{{base0D-hex}}",
    "brightBlack": "#{{base03-hex}}",
    "brightBlue": "#{{base04-hex}}",
    "brightCyan": "#{{base0F-hex}}",
    "brightGreen": "#{{base01-hex}}",
    "brightPurple": "#{{base06-hex}}",
    "brightRed": "#{{base09-hex}}",
    "brightWhite": "#{{base07-hex}}",
    "brightYellow": "#{{base02-hex}}",
    "cyan": "#{{base0C-hex}}",
    "foreground": "#{{base05-hex}}",
    "green": "#{{base0B-hex}}",
    "purple": "#{{base0E-hex}}",
    "red": "#{{base08-hex}}",
    "white": "#{{base05-hex}}",
    "yellow": "#{{base0A-hex}}"
}
