/* base16-c_header (https://github.com/m1sports20/base16-c_header)
 * by Michael Spradling (http://mspradling.com)
 * {{scheme-name}} schema by {{scheme-author}}
 *
 * This is a standard c header that can be included in any c project.
*/

#ifndef BASE16_COLORS
#define BASE16_COLORS

static const char base00[] = "#{{base00-hex}}";
static const char base01[] = "#{{base01-hex}}";
static const char base02[] = "#{{base02-hex}}";
static const char base03[] = "#{{base03-hex}}";
static const char base04[] = "#{{base04-hex}}";
static const char base05[] = "#{{base05-hex}}";
static const char base06[] = "#{{base06-hex}}";
static const char base07[] = "#{{base07-hex}}";
static const char base08[] = "#{{base08-hex}}";
static const char base09[] = "#{{base09-hex}}";
static const char base0A[] = "#{{base0A-hex}}";
static const char base0B[] = "#{{base0B-hex}}";
static const char base0C[] = "#{{base0C-hex}}";
static const char base0D[] = "#{{base0D-hex}}";
static const char base0E[] = "#{{base0E-hex}}";
static const char base0F[] = "#{{base0F-hex}}";

#endif
