[submodule "nixos/imports/impermanence"]
	path = nixos/imports/impermanence
	url = git@github.com:nix-community/impermanence.git
[submodule "nixos/imports/home-manager"]
	path = nixos/imports/home-manager
	url = git@github.com:Misterio77/home-manager.git
