color_0  = {{base00-hex-r}}{{base00-hex-r}} {{base00-hex-g}}{{base00-hex-g}} {{base00-hex-b}}{{base00-hex-b}}
color_1  = {{base05-hex-r}}{{base05-hex-r}} {{base05-hex-g}}{{base05-hex-g}} {{base05-hex-b}}{{base05-hex-b}}
color_2  = {{base0D-hex-r}}{{base0D-hex-r}} {{base0D-hex-g}}{{base0D-hex-g}} {{base0D-hex-b}}{{base0D-hex-b}}
color_3  = {{base0B-hex-r}}{{base0B-hex-r}} {{base0B-hex-g}}{{base0B-hex-g}} {{base0B-hex-b}}{{base0B-hex-b}}
color_4  = {{base08-hex-r}}{{base08-hex-r}} {{base08-hex-g}}{{base08-hex-g}} {{base08-hex-b}}{{base08-hex-b}}
color_5  = {{base0F-hex-r}}{{base0F-hex-r}} {{base0F-hex-g}}{{base0F-hex-g}} {{base0F-hex-b}}{{base0F-hex-b}}
color_6  = {{base0E-hex-r}}{{base0E-hex-r}} {{base0E-hex-g}}{{base0E-hex-g}} {{base0E-hex-b}}{{base0E-hex-b}}
color_7  = {{base09-hex-r}}{{base09-hex-r}} {{base09-hex-g}}{{base09-hex-g}} {{base09-hex-b}}{{base09-hex-b}}
color_8  = {{base0A-hex-r}}{{base0A-hex-r}} {{base0A-hex-g}}{{base0A-hex-g}} {{base0A-hex-b}}{{base0A-hex-b}}
color_9  = {{base0B-hex-r}}{{base0B-hex-r}} {{base0B-hex-g}}{{base0B-hex-g}} {{base0B-hex-b}}{{base0B-hex-b}}
color_10 = {{base0C-hex-r}}{{base0C-hex-r}} {{base0C-hex-g}}{{base0C-hex-g}} {{base0C-hex-b}}{{base0C-hex-b}}
color_11 = {{base0C-hex-r}}{{base0C-hex-r}} {{base0C-hex-g}}{{base0C-hex-g}} {{base0C-hex-b}}{{base0C-hex-b}}
color_12 = {{base0D-hex-r}}{{base0D-hex-r}} {{base0D-hex-g}}{{base0D-hex-g}} {{base0D-hex-b}}{{base0D-hex-b}}
color_13 = {{base08-hex-r}}{{base08-hex-r}} {{base08-hex-g}}{{base08-hex-g}} {{base08-hex-b}}{{base08-hex-b}}
color_14 = {{base03-hex-r}}{{base03-hex-r}} {{base03-hex-g}}{{base03-hex-g}} {{base03-hex-b}}{{base03-hex-b}}
color_15 = {{base03-hex-r}}{{base03-hex-r}} {{base03-hex-g}}{{base03-hex-g}} {{base03-hex-b}}{{base03-hex-b}}

color_16  = {{base00-hex-r}}{{base00-hex-r}} {{base00-hex-g}}{{base00-hex-g}} {{base00-hex-b}}{{base00-hex-b}}
color_17  = {{base05-hex-r}}{{base05-hex-r}} {{base05-hex-g}}{{base05-hex-g}} {{base05-hex-b}}{{base05-hex-b}}
color_18  = {{base0D-hex-r}}{{base0D-hex-r}} {{base0D-hex-g}}{{base0D-hex-g}} {{base0D-hex-b}}{{base0D-hex-b}}
color_19  = {{base0B-hex-r}}{{base0B-hex-r}} {{base0B-hex-g}}{{base0B-hex-g}} {{base0B-hex-b}}{{base0B-hex-b}}
color_20  = {{base08-hex-r}}{{base08-hex-r}} {{base08-hex-g}}{{base08-hex-g}} {{base08-hex-b}}{{base08-hex-b}}
color_21  = {{base0F-hex-r}}{{base0F-hex-r}} {{base0F-hex-g}}{{base0F-hex-g}} {{base0F-hex-b}}{{base0F-hex-b}}
color_22  = {{base0E-hex-r}}{{base0E-hex-r}} {{base0E-hex-g}}{{base0E-hex-g}} {{base0E-hex-b}}{{base0E-hex-b}}
color_23  = {{base09-hex-r}}{{base09-hex-r}} {{base09-hex-g}}{{base09-hex-g}} {{base09-hex-b}}{{base09-hex-b}}
color_24  = {{base0A-hex-r}}{{base0A-hex-r}} {{base0A-hex-g}}{{base0A-hex-g}} {{base0A-hex-b}}{{base0A-hex-b}}
color_25  = {{base0B-hex-r}}{{base0B-hex-r}} {{base0B-hex-g}}{{base0B-hex-g}} {{base0B-hex-b}}{{base0B-hex-b}}
color_26 = {{base0C-hex-r}}{{base0C-hex-r}} {{base0C-hex-g}}{{base0C-hex-g}} {{base0C-hex-b}}{{base0C-hex-b}}
color_27 = {{base0C-hex-r}}{{base0C-hex-r}} {{base0C-hex-g}}{{base0C-hex-g}} {{base0C-hex-b}}{{base0C-hex-b}}
color_28 = {{base0D-hex-r}}{{base0D-hex-r}} {{base0D-hex-g}}{{base0D-hex-g}} {{base0D-hex-b}}{{base0D-hex-b}}
color_29 = {{base08-hex-r}}{{base08-hex-r}} {{base08-hex-g}}{{base08-hex-g}} {{base08-hex-b}}{{base08-hex-b}}
color_30 = {{base03-hex-r}}{{base03-hex-r}} {{base03-hex-g}}{{base03-hex-g}} {{base03-hex-b}}{{base03-hex-b}}
color_31 = {{base03-hex-r}}{{base03-hex-r}} {{base03-hex-g}}{{base03-hex-g}} {{base03-hex-b}}{{base03-hex-b}}

color_256 = {{base06-hex-r}}{{base06-hex-r}} {{base06-hex-g}}{{base06-hex-g}} {{base06-hex-b}}{{base06-hex-b}}
color_257 = {{base03-hex-r}}{{base03-hex-r}} {{base03-hex-g}}{{base03-hex-g}} {{base03-hex-b}}{{base03-hex-b}}
color_258 = {{base05-hex-r}}{{base05-hex-r}} {{base05-hex-g}}{{base05-hex-g}} {{base05-hex-b}}{{base05-hex-b}}
color_259 = {{base00-hex-r}}{{base00-hex-r}} {{base00-hex-g}}{{base00-hex-g}} {{base00-hex-b}}{{base00-hex-b}}
color_260 = {{base0F-hex-r}}{{base0F-hex-r}} {{base0F-hex-g}}{{base0F-hex-g}} {{base0F-hex-b}}{{base0F-hex-b}}
color_261 = {{base0D-hex-r}}{{base0D-hex-r}} {{base0D-hex-g}}{{base0D-hex-g}} {{base0D-hex-b}}{{base0D-hex-b}}
color_262 = {{base0B-hex-r}}{{base0B-hex-r}} {{base0B-hex-g}}{{base0B-hex-g}} {{base0B-hex-b}}{{base0B-hex-b}}
color_263 = {{base09-hex-r}}{{base09-hex-r}} {{base09-hex-g}}{{base09-hex-g}} {{base09-hex-b}}{{base09-hex-b}}
color_264 = {{base03-hex-r}}{{base03-hex-r}} {{base03-hex-g}}{{base03-hex-g}} {{base03-hex-b}}{{base03-hex-b}}
color_265 = {{base08-hex-r}}{{base08-hex-r}} {{base08-hex-g}}{{base08-hex-g}} {{base08-hex-b}}{{base08-hex-b}}
