<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DVTConsoleDebuggerInputTextColor</key>
	<string>{{base07-dec-r}} {{base07-dec-g}} {{base07-dec-b}} 1</string>
	<key>DVTConsoleDebuggerOutputTextColor</key>
	<string>{{base06-dec-r}} {{base06-dec-g}} {{base06-dec-b}} 1</string>
	<key>DVTConsoleDebuggerPromptTextColor</key>
	<string>{{base0D-dec-r}} {{base0D-dec-g}} {{base0D-dec-b}} 1</string>
	<key>DVTConsoleExectuableInputTextColor</key>
	<string>{{base07-dec-r}} {{base07-dec-g}} {{base07-dec-b}} 1</string>
	<key>DVTConsoleExectuableOutputTextColor</key>
	<string>{{base06-dec-r}} {{base06-dec-g}} {{base06-dec-b}} 1</string>
	<key>DVTConsoleTextBackgroundColor</key>
	<string>{{base00-dec-r}} {{base00-dec-g}} {{base00-dec-b}} 1</string>
	<key>DVTConsoleTextInsertionPointColor</key>
	<string>{{base06-dec-r}} {{base06-dec-g}} {{base06-dec-b}} 1</string>
	<key>DVTConsoleTextSelectionColor</key>
	<string>{{base02-dec-r}} {{base02-dec-g}} {{base02-dec-b}} 1</string>
	<key>DVTDebuggerInstructionPointerColor</key>
	<string>{{base0B-dec-r}} {{base0B-dec-g}} {{base0B-dec-b}} 1</string>
	<key>DVTMarkupTextBackgroundColor</key>
	<string>{{base00-dec-r}} {{base00-dec-g}} {{base00-dec-b}} 1</string>
	<key>DVTMarkupTextBorderColor</key>
	<string>{{base03-dec-r}} {{base03-dec-g}} {{base03-dec-b}} 1</string>
	<key>DVTMarkupTextEmphasisColor</key>
	<string>{{base06-dec-r}} {{base06-dec-g}} {{base06-dec-b}} 1</string>
	<key>DVTMarkupTextEmphasisFont</key>
	<string>.AppleSystemUIFontItalic - 13.0</string>
	<key>DVTMarkupTextInlineCodeColor</key>
	<string>{{base06-dec-r}} {{base06-dec-g}} {{base06-dec-b}} 0.7</string>
	<key>DVTMarkupTextLinkColor</key>
	<string>{{base06-dec-r}} {{base06-dec-g}} {{base06-dec-b}} 1</string>
	<key>DVTMarkupTextLinkFont</key>
	<string>.AppleSystemUIFont - 13.0</string>
	<key>DVTMarkupTextNormalColor</key>
	<string>{{base06-dec-r}} {{base06-dec-g}} {{base06-dec-b}} 1</string>
	<key>DVTMarkupTextNormalFont</key>
	<string>.AppleSystemUIFont - 13.0</string>
	<key>DVTMarkupTextOtherHeadingColor</key>
	<string>{{base0D-dec-r}} {{base0D-dec-g}} {{base0D-dec-b}} 0.5</string>
	<key>DVTMarkupTextOtherHeadingFont</key>
	<string>.AppleSystemUIFont - 18.2</string>
	<key>DVTMarkupTextPrimaryHeadingColor</key>
	<string>{{base0D-dec-r}} {{base0D-dec-g}} {{base0D-dec-b}} 1</string>
	<key>DVTMarkupTextPrimaryHeadingFont</key>
	<string>.AppleSystemUIFont - 31.2</string>
	<key>DVTMarkupTextSecondaryHeadingColor</key>
	<string>{{base0D-dec-r}} {{base0D-dec-g}} {{base0D-dec-b}} 1</string>
	<key>DVTMarkupTextSecondaryHeadingFont</key>
	<string>.AppleSystemUIFont - 23.4</string>
	<key>DVTMarkupTextStrongColor</key>
	<string>{{base06-dec-r}} {{base06-dec-g}} {{base06-dec-b}} 1</string>
	<key>DVTMarkupTextStrongFont</key>
	<string>.AppleSystemUIFontEmphasized - 13.0</string>
	<key>DVTSourceTextBackground</key>
	<string>{{base00-dec-r}} {{base00-dec-g}} {{base00-dec-b}} 1</string>
	<key>DVTSourceTextBlockDimBackgroundColor</key>
	<string>{{base02-dec-r}} {{base02-dec-g}} {{base02-dec-b}} 1</string>
	<key>DVTSourceTextCurrentLineHighlightColor</key>
	<string>{{base01-dec-r}} {{base01-dec-g}} {{base01-dec-b}} 1</string>
	<key>DVTSourceTextInsertionPointColor</key>
	<string>{{base06-dec-r}} {{base06-dec-g}} {{base06-dec-b}} 1</string>
	<key>DVTSourceTextInvisiblesColor</key>
	<string>{{base04-dec-r}} {{base04-dec-g}} {{base04-dec-b}} 1</string>
	<key>DVTSourceTextSelectionColor</key>
	<string>{{base02-dec-r}} {{base02-dec-g}} {{base02-dec-b}} 1</string>
	<key>DVTSourceTextSyntaxColors</key>
	<dict>
		<key>xcode.syntax.attribute</key>
		<string>{{base09-dec-r}} {{base09-dec-g}} {{base09-dec-b}} 1</string>
		<key>xcode.syntax.character</key>
		<string>{{base09-dec-r}} {{base09-dec-g}} {{base09-dec-b}} 1</string>
		<key>xcode.syntax.comment</key>
		<string>{{base03-dec-r}} {{base03-dec-g}} {{base03-dec-b}} 1</string>
		<key>xcode.syntax.comment.doc</key>
		<string>{{base03-dec-r}} {{base03-dec-g}} {{base03-dec-b}} 1</string>
		<key>xcode.syntax.comment.doc.keyword</key>
		<string>{{base0E-dec-r}} {{base0E-dec-g}} {{base0E-dec-b}} 1</string>
		<key>xcode.syntax.declaration.other</key>
		<string>{{base0D-dec-r}} {{base0D-dec-g}} {{base0D-dec-b}} 1</string>
		<key>xcode.syntax.declaration.type</key>
		<string>{{base0A-dec-r}} {{base0A-dec-g}} {{base0A-dec-b}} 1</string>
		<key>xcode.syntax.identifier.class</key>
		<string>{{base0A-dec-r}} {{base0A-dec-g}} {{base0A-dec-b}} 1</string>
		<key>xcode.syntax.identifier.class.system</key>
		<string>{{base0A-dec-r}} {{base0A-dec-g}} {{base0A-dec-b}} 1</string>
		<key>xcode.syntax.identifier.constant</key>
		<string>{{base09-dec-r}} {{base09-dec-g}} {{base09-dec-b}} 1</string>
		<key>xcode.syntax.identifier.constant.system</key>
		<string>{{base09-dec-r}} {{base09-dec-g}} {{base09-dec-b}} 1</string>
		<key>xcode.syntax.identifier.function</key>
		<string>{{base0D-dec-r}} {{base0D-dec-g}} {{base0D-dec-b}} 1</string>
		<key>xcode.syntax.identifier.function.system</key>
		<string>{{base0D-dec-r}} {{base0D-dec-g}} {{base0D-dec-b}} 1</string>
		<key>xcode.syntax.identifier.macro</key>
		<string>{{base0C-dec-r}} {{base0C-dec-g}} {{base0C-dec-b}} 1</string>
		<key>xcode.syntax.identifier.macro.system</key>
		<string>{{base0C-dec-r}} {{base0C-dec-g}} {{base0C-dec-b}} 1</string>
		<key>xcode.syntax.identifier.type</key>
		<string>{{base0A-dec-r}} {{base0A-dec-g}} {{base0A-dec-b}} 1</string>
		<key>xcode.syntax.identifier.type.system</key>
		<string>{{base0A-dec-r}} {{base0A-dec-g}} {{base0A-dec-b}} 1</string>
		<key>xcode.syntax.identifier.variable</key>
		<string>{{base08-dec-r}} {{base08-dec-g}} {{base08-dec-b}} 1</string>
		<key>xcode.syntax.identifier.variable.system</key>
		<string>{{base08-dec-r}} {{base08-dec-g}} {{base08-dec-b}} 1</string>
		<key>xcode.syntax.keyword</key>
		<string>{{base0E-dec-r}} {{base0E-dec-g}} {{base0E-dec-b}} 1</string>
		<key>xcode.syntax.mark</key>
		<string>{{base0D-dec-r}} {{base0D-dec-g}} {{base0D-dec-b}} 1</string>
		<key>xcode.syntax.number</key>
		<string>{{base09-dec-r}} {{base09-dec-g}} {{base09-dec-b}} 1</string>
		<key>xcode.syntax.plain</key>
		<string>{{base06-dec-r}} {{base06-dec-g}} {{base06-dec-b}} 1</string>
		<key>xcode.syntax.preprocessor</key>
		<string>{{base0C-dec-r}} {{base0C-dec-g}} {{base0C-dec-b}} 1</string>
		<key>xcode.syntax.string</key>
		<string>{{base0B-dec-r}} {{base0B-dec-g}} {{base0B-dec-b}} 1</string>
		<key>xcode.syntax.url</key>
		<string>{{base09-dec-r}} {{base09-dec-g}} {{base09-dec-b}} 1</string>
	</dict>
</dict>
</plist>
