-- Base16 {{ scheme-name }} color 
-- Author: {{ scheme-author }}
-- to be use in your theme.lua
-- symlink or copy to config folder `local color = require('color')`

local M = {}

M.base00 = "#{{base00-hex}}" -- ----
M.base01 = "#{{base01-hex}}" -- ---
M.base02 = "#{{base02-hex}}" -- --
M.base03 = "#{{base03-hex}}" -- -
M.base04 = "#{{base04-hex}}" -- +
M.base05 = "#{{base05-hex}}" -- ++
M.base06 = "#{{base06-hex}}" -- +++
M.base07 = "#{{base07-hex}}" -- ++++
M.base08 = "#{{base08-hex}}" -- red
M.base09 = "#{{base09-hex}}" -- orange
M.base0A = "#{{base0A-hex}}" -- yellow
M.base0B = "#{{base0B-hex}}" -- green
M.base0C = "#{{base0C-hex}}" -- aqua/cyan
M.base0D = "#{{base0D-hex}}" -- blue
M.base0E = "#{{base0E-hex}}" -- purple
M.base0F = "#{{base0F-hex}}" -- brown

return M
