# Base16 {{scheme-name}}
# Author: {{scheme-author}}

[global_config]
  title_transmit_fg_color = "#{{base05-hex}}"
  title_transmit_bg_color = "#{{base00-hex}}"
  title_inactive_fg_color = "#{{base05-hex}}"
  title_inactive_bg_color = "#{{base03-hex}}"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#{{base00-hex}}"
    foreground_color = "#{{base05-hex}}"
    cursor_color = "#{{base05-hex}}"
    palette = "#{{base00-hex}}:#{{base08-hex}}:#{{base0B-hex}}:#{{base0A-hex}}:#{{base0D-hex}}:#{{base0E-hex}}:#{{base0C-hex}}:#{{base05-hex}}:#{{base03-hex}}:#{{base09-hex}}:#{{base01-hex}}:#{{base02-hex}}:#{{base04-hex}}:#{{base06-hex}}:#{{base0F-hex}}:#{{base07-hex}}"
