{
    "background-color": "#{{base00-hex}}",
    "badge-color": "#{{base08-hex}}",
    "comment": "",
    "cursor-background-color": "#{{base04-hex}}",
    "cursor-foreground-color": "#{{base04-hex}}",
    "dim-color": "#{{base01-hex}}",
    "foreground-color": "#{{base04-hex}}",
    "highlight-background-color": "#{{base01-hex}}",
    "highlight-foreground-color": "#{{base04-hex}}",
    "name": "{{scheme-name}} (base16)",
    "palette": [
        "#{{base00-hex}}",
        "#{{base08-hex}}",
        "#{{base0B-hex}}",
        "#{{base0A-hex}}",
        "#{{base0D-hex}}",
        "#{{base0E-hex}}",
        "#{{base0C-hex}}",
        "#{{base05-hex}}",
        "#{{base03-hex}}",
        "#{{base08-hex}}",
        "#{{base0B-hex}}",
        "#{{base0A-hex}}",
        "#{{base0D-hex}}",
        "#{{base0E-hex}}",
        "#{{base0C-hex}}",
        "#{{base07-hex}}"
    ],
    "use-badge-color": false,
    "use-cursor-color": false,
    "use-dim-color": false,
    "use-highlight-color": false,
    "use-theme-colors": false
}
