[colors]
# Base16 {{scheme-name}}
# Author: {{scheme-author}}

foreground          = #{{base05-hex}}
foreground_bold     = #{{base05-hex}}
cursor              = #{{base05-hex}}
cursor_foreground   = #{{base00-hex}}
background          = #{{base00-hex}}

# 16 color space

# Black, Gray, Silver, White
color0  = #{{base00-hex}}
color8  = #{{base03-hex}}
color7  = #{{base05-hex}}
color15 = #{{base07-hex}}

# Red
color1  = #{{base08-hex}}
color9  = #{{base08-hex}}

# Green
color2  = #{{base0B-hex}}
color10 = #{{base0B-hex}}

# Yellow
color3  = #{{base0A-hex}}
color11 = #{{base0A-hex}}

# Blue
color4  = #{{base0D-hex}}
color12 = #{{base0D-hex}}

# Purple
color5  = #{{base0E-hex}}
color13 = #{{base0E-hex}}

# Teal
color6  = #{{base0C-hex}}
color14 = #{{base0C-hex}}

# Extra colors
color16 = #{{base09-hex}}
color17 = #{{base0F-hex}}
color18 = #{{base01-hex}}
color19 = #{{base02-hex}}
color20 = #{{base04-hex}}
color21 = #{{base06-hex}}
