[Scheme]
Name=Base16-{{scheme-name}}
ColorForeground=#{{base05-hex}}
ColorBackground=#{{base00-hex}}
ColorCursor=x
ColorBoldIsBright=FALSE
ColorPalette=#{{base00-hex}};#{{base08-hex}};#{{base0B-hex}};#{{base0A-hex}};#{{base0D-hex}};#{{base0E-hex}};#{{base0C-hex}};#{{base05-hex}};#{{base03-hex}};#{{base08-hex}};#{{base0B-hex}};#{{base0A-hex}};#{{base0D-hex}};#{{base0E-hex}};#{{base0C-hex}};#{{base07-hex}}
