[Scheme]
Name=Base16-{{scheme-name}}.16
ColorForeground=#{{base05-hex}}
ColorBackground=#{{base00-hex}}
ColorCursor=x
ColorBoldIsBright=FALSE
ColorPalette=#{{base01-hex}};#{{base08-hex}};#{{base0B-hex}};#{{base0A-hex}};#{{base0D-hex}};#{{base0F-hex}};#{{base0C-hex}};#{{base06-hex}};#{{base00-hex}};#{{base09-hex}};#{{base02-hex}};#{{base03-hex}};#{{base04-hex}};#{{base0E-hex}};#{{base05-hex}};#{{base07-hex}}
