<!--    Base16 {{scheme-name}}
        Author: {{scheme-author}}   -->

<application>
  <component name="EditorColorsManagerImpl">
    <global_color_scheme name="Base16 {{scheme-name}}" />
  </component>
</application>
