; base16-{{scheme-slug}}
;
; base16: (https://github.com/chriskempson/base16)
;
; Scheme: {{scheme-author}}
; Template: Christian Karl <karlch at protonmail dot com>

[STYLE]
; Colors
base00 = #{{base00-hex}}
base01 = #{{base01-hex}}
base02 = #{{base02-hex}}
base03 = #{{base03-hex}}
base04 = #{{base04-hex}}
base05 = #{{base05-hex}}
base06 = #{{base06-hex}}
base07 = #{{base07-hex}}
base08 = #{{base08-hex}}
base09 = #{{base09-hex}}
base0a = #{{base0A-hex}}
base0b = #{{base0B-hex}}
base0c = #{{base0C-hex}}
base0d = #{{base0D-hex}}
base0e = #{{base0E-hex}}
base0f = #{{base0F-hex}}

; Additional custom overrides, e.g.
; font = 10pt Hack
; thumbnail.padding = 32

; vim:ft=dosini
