## Base16 {{scheme-name}}
# Author: {{scheme-author}}
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #{{base00-hex}}
set $base01 #{{base01-hex}}
set $base02 #{{base02-hex}}
set $base03 #{{base03-hex}}
set $base04 #{{base04-hex}}
set $base05 #{{base05-hex}}
set $base06 #{{base06-hex}}
set $base07 #{{base07-hex}}
set $base08 #{{base08-hex}}
set $base09 #{{base09-hex}}
set $base0A #{{base0A-hex}}
set $base0B #{{base0B-hex}}
set $base0C #{{base0C-hex}}
set $base0D #{{base0D-hex}}
set $base0E #{{base0E-hex}}
set $base0F #{{base0F-hex}}
