td.linenos {
    width: 2em;
    font-size: 0.9em;
    padding-top: 1.28em;
}

/* Highlight diff */
code span.head {
    color: var(--highlight);
}
code span.hunk {
    color: var(--text-muted);
}
code span.ctx {
    color: var(--text-main);
}
code span.add {
    color: var(--positive);
}
code span.del {
    color: var(--negative);
}

/* Light up targeted line (for linking, etc) */
pre > code {
    position: relative;
}
pre > code a {
    height: 1.18rem;
    width: 101.96%;
    position: absolute;
    left: -1em;
    pointer-events: none;
}
pre > code a:target {
    background-color: var(--highlight);
    opacity: 0.3;
}
