[EditorColorSchema-8ec0b6b4-ad84-4710-8b56-7971d0b263ed]
BackgroundColorEnabled_-1=true
BackgroundColorEnabled_0=false
BackgroundColorEnabled_1=true
BackgroundColorEnabled_12=false
BackgroundColorEnabled_13=false
BackgroundColorEnabled_14=false
BackgroundColorEnabled_15=false
BackgroundColorEnabled_16=false
BackgroundColorEnabled_17=false
BackgroundColorEnabled_18=false
BackgroundColorEnabled_19=true
BackgroundColorEnabled_2=true
BackgroundColorEnabled_21=true
BackgroundColorEnabled_22=true
BackgroundColorEnabled_23=true
BackgroundColorEnabled_25=true
BackgroundColorEnabled_3=false
BackgroundColorEnabled_4=true
BackgroundColorEnabled_7=false
BackgroundColorEnabled_8=false
# main
BackgroundColor_-1=@Variant(\0\0\0\x43\x1\xff\xff\x{{base00-hex-r}}\x{{base00-hex-r}}\x{{base00-hex-g}}\x{{base00-hex-g}}\x{{base00-hex-b}}\x{{base00-hex-b}}\0\0)
# link:
BackgroundColor_0="@Variant(\0\0\0\x43\x1\xff\xff\x30\x30==EE\0\0)"
BackgroundColor_1=@Variant(\0\0\0\x43\x1\xff\xff\x33\x33\x33\x33\x33\x33\0\0)
# header 1:
BackgroundColor_12=@Variant(\0\0\0\x43\x1\xff\xff\xeb\xeb\xeb\xeb\xf0\xf0\0\0)
BackgroundColor_13=@Variant(\0\0\0\x43\x1\xff\xff\xeb\xeb\xeb\xeb\xf0\xf0\0\0)
BackgroundColor_14=@Variant(\0\0\0\x43\x1\xff\xff\xeb\xeb\xeb\xeb\xf0\xf0\0\0)
BackgroundColor_15=@Variant(\0\0\0\x43\x1\xff\xff\xeb\xeb\xeb\xeb\xf0\xf0\0\0)
BackgroundColor_16=@Variant(\0\0\0\x43\x1\xff\xff\xeb\xeb\xeb\xeb\xf0\xf0\0\0)
# header 6:
BackgroundColor_17=@Variant(\0\0\0\x43\x1\xff\xff\xeb\xeb\xeb\xeb\xf0\xf0\0\0)
# quote:
BackgroundColor_18=@Variant(\0\0\0\x43\x1\xff\xff\xf5\xf5\xf9\xf9\xd8\xd8\0\0)
BackgroundColor_19=@Variant(\0\0\0\x43\x1\xff\xff\x33\x33\x33\x33\x33\x33\0\0)
BackgroundColor_2=@Variant(\0\0\0\x43\x1\xff\xff\x33\x33\x33\x33\x33\x33\0\0)
# horizontal rule:
BackgroundColor_21=@Variant(\0\0\0\x43\x1\xff\xff\x{{base06-hex-r}}\x{{base06-hex-r}}\x{{base06-hex-g}}\x{{base06-hex-g}}\x{{base06-hex-b}}\x{{base06-hex-b}}\0\0)
# table:
BackgroundColor_22=@Variant(\0\0\0\x43\x1\xff\xff\x{{base02-hex-r}}\x{{base02-hex-r}}\x{{base02-hex-g}}\x{{base02-hex-g}}\x{{base02-hex-b}}\x{{base02-hex-b}}\0\0)
# code:
BackgroundColor_23=@Variant(\0\0\0\x43\x1\xff\xff\x{{base02-hex-r}}\x{{base02-hex-r}}\x{{base02-hex-g}}\x{{base02-hex-g}}\x{{base02-hex-b}}\x{{base02-hex-b}}\0\0)
# focused line:
BackgroundColor_25=@Variant(\0\0\0\x43\x1\xff\xff\x{{base01-hex-r}}\x{{base01-hex-r}}\x{{base01-hex-g}}\x{{base01-hex-g}}\x{{base01-hex-b}}\x{{base01-hex-b}}\0\0)
# image:
BackgroundColor_3=@Variant(\0\0\0\x43\x1\xff\xff\xe4\xe4\xff\xff\xe4\xe4\0\0)
# code:
BackgroundColor_4=@Variant(\0\0\0\x43\x1\xff\xff\x{{base02-hex-r}}\x{{base02-hex-r}}\x{{base02-hex-g}}\x{{base02-hex-g}}\x{{base02-hex-b}}\x{{base02-hex-b}}\0\0)
# italic:
BackgroundColor_7=@Variant(\0\0\0\x43\x1\xff\xff\x9e\x9e\xb6\xb6\xff\xff\0\0)
# bold:
BackgroundColor_8=@Variant(\0\0\0\x43\x1\xff\xff\xdb\xdb\xf9\xf9\xe5\xe5\0\0)
Bold_12=true
Bold_13=true
Bold_14=true
Bold_15=true
Bold_16=true
Bold_17=true
Bold_8=true
FontSizeAdaption_12=200
FontSizeAdaption_13=160
FontSizeAdaption_14=130
FontSizeAdaption_16=90
FontSizeAdaption_17=90
ForegroundColorEnabled_-1=true
ForegroundColorEnabled_-1000=true
ForegroundColorEnabled_0=true
ForegroundColorEnabled_1=true
ForegroundColorEnabled_10=true
ForegroundColorEnabled_11=true
ForegroundColorEnabled_12=true
ForegroundColorEnabled_13=true
ForegroundColorEnabled_14=true
ForegroundColorEnabled_15=true
ForegroundColorEnabled_16=true
ForegroundColorEnabled_17=true
ForegroundColorEnabled_18=true
ForegroundColorEnabled_19=true
ForegroundColorEnabled_2=true
ForegroundColorEnabled_20=true
ForegroundColorEnabled_21=true
ForegroundColorEnabled_22=true
ForegroundColorEnabled_23=true
ForegroundColorEnabled_24=true
ForegroundColorEnabled_26=true
ForegroundColorEnabled_3=true
ForegroundColorEnabled_4=true
ForegroundColorEnabled_5=true
ForegroundColorEnabled_6=true
ForegroundColorEnabled_7=true
ForegroundColorEnabled_8=true
ForegroundColorEnabled_9=true
# main:
ForegroundColor_-1=@Variant(\0\0\0\x43\x1\xff\xff\x{{base05-hex-r}}\x{{base05-hex-r}}\x{{base05-hex-g}}\x{{base05-hex-g}}\x{{base05-hex-b}}\x{{base05-hex-b}}\0\0)
# link:
ForegroundColor_0=@Variant(\0\0\0\x43\x1\xff\xff\x{{base0D-hex-r}}\x{{base0D-hex-r}}\x{{base0D-hex-g}}\x{{base0D-hex-g}}\x{{base0D-hex-b}}\x{{base0D-hex-b}}\0\0)
ForegroundColor_1=@Variant(\0\0\0\x43\x1\xff\xff\xfc\xfc~~\0\0\0\0)
ForegroundColor_10=@Variant(\0\0\0\x43\x1\xff\xff\xff\xff\xff\xff\0\0\0\0)
# comment:
ForegroundColor_11=@Variant(\0\0\0\x43\x1\xff\xff\x{{base02-hex-r}}\x{{base02-hex-r}}\x{{base02-hex-g}}\x{{base02-hex-g}}\x{{base02-hex-b}}\x{{base02-hex-b}}\0\0)
# header 1:
ForegroundColor_12=@Variant(\0\0\0\x43\x1\xff\xff\x{{base0E-hex-r}}\x{{base0E-hex-r}}\x{{base0E-hex-g}}\x{{base0E-hex-g}}\x{{base0E-hex-b}}\x{{base0E-hex-b}}\0\0)
# header 2:
ForegroundColor_13=@Variant(\0\0\0\x43\x1\xff\xff\x{{base0E-hex-r}}\x{{base0E-hex-r}}\x{{base0E-hex-g}}\x{{base0E-hex-g}}\x{{base0E-hex-b}}\x{{base0E-hex-b}}\0\0)
# header 3:
ForegroundColor_14=@Variant(\0\0\0\x43\x1\xff\xff\x{{base0E-hex-r}}\x{{base0E-hex-r}}\x{{base0E-hex-g}}\x{{base0E-hex-g}}\x{{base0E-hex-b}}\x{{base0E-hex-b}}\0\0)
# header 4:
ForegroundColor_15=@Variant(\0\0\0\x43\x1\xff\xff\x{{base0E-hex-r}}\x{{base0E-hex-r}}\x{{base0E-hex-g}}\x{{base0E-hex-g}}\x{{base0E-hex-b}}\x{{base0E-hex-b}}\0\0)
# header 5:
ForegroundColor_16=@Variant(\0\0\0\x43\x1\xff\xff\x{{base0E-hex-r}}\x{{base0E-hex-r}}\x{{base0E-hex-g}}\x{{base0E-hex-g}}\x{{base0E-hex-b}}\x{{base0E-hex-b}}\0\0)
# header 6:
ForegroundColor_17=@Variant(\0\0\0\x43\x1\xff\xff\x{{base0E-hex-r}}\x{{base0E-hex-r}}\x{{base0E-hex-g}}\x{{base0E-hex-g}}\x{{base0E-hex-b}}\x{{base0E-hex-b}}\0\0)
# quote:
ForegroundColor_18=@Variant(\0\0\0\x43\x1\xff\xff\x{{base0C-hex-r}}\x{{base0C-hex-r}}\x{{base0C-hex-g}}\x{{base0C-hex-g}}\x{{base0C-hex-b}}\x{{base0C-hex-b}}\0\0)
ForegroundColor_19=@Variant(\0\0\0\x43\x1\xff\xff\0\0\xaa\xaa\0\0\0\0)
ForegroundColor_2=@Variant(\0\0\0\x43\x1\xff\xff\xfc\xfc~~\0\0\0\0)
ForegroundColor_20=@Variant(\0\0\0\x43\x1\xff\xff\xe1\xe1\xe1\xe1\xe1\xe1\0\0)
# horizontal rule:
ForegroundColor_21=@Variant(\0\0\0\x43\x1\xff\xff\x{{base00-hex-r}}\x{{base00-hex-r}}\x{{base00-hex-g}}\x{{base00-hex-g}}\x{{base00-hex-b}}\x{{base00-hex-b}}\0\0)
# table:
ForegroundColor_22=@Variant(\0\0\0\x43\x1\xff\xff\x{{base0C-hex-r}}\x{{base0C-hex-r}}\x{{base0C-hex-g}}\x{{base0C-hex-g}}\x{{base0C-hex-b}}\x{{base0C-hex-b}}\0\0)
# code:
ForegroundColor_23=@Variant(\0\0\0\x43\x1\xff\xff\x{{base07-hex-r}}\x{{base07-hex-r}}\x{{base07-hex-g}}\x{{base07-hex-g}}\x{{base07-hex-b}}\x{{base07-hex-b}}\0\0)
# masked syntax:
ForegroundColor_24=@Variant(\0\0\0\x43\x1\xff\xff\x{{base09-hex-r}}\x{{base09-hex-r}}\x{{base09-hex-g}}\x{{base09-hex-g}}\x{{base09-hex-b}}\x{{base09-hex-b}}\0\0)
# broken link:
ForegroundColor_26=@Variant(\0\0\0\x43\x1\xff\xff\x{{base08-hex-r}}\x{{base08-hex-r}}\x{{base08-hex-g}}\x{{base08-hex-g}}\x{{base08-hex-b}}\x{{base08-hex-b}}\0\0)
# image:
ForegroundColor_3=@Variant(\0\0\0\x43\x1\xff\xff\x{{base0B-hex-r}}\x{{base0B-hex-r}}\x{{base0B-hex-g}}\x{{base0B-hex-g}}\x{{base0B-hex-b}}\x{{base0B-hex-b}}\0\0)
# code:
ForegroundColor_4=@Variant(\0\0\0\x43\x1\xff\xff\x{{base07-hex-r}}\x{{base07-hex-r}}\x{{base07-hex-g}}\x{{base07-hex-g}}\x{{base07-hex-b}}\x{{base07-hex-b}}\0\0)
ForegroundColor_5=@Variant(\0\0\0\x43\x1\xff\xff\xe1\xe1\xe1\xe1\xe1\xe1\0\0)
ForegroundColor_6=@Variant(\0\0\0\x43\x1\xff\xff\xe1\xe1\xe1\xe1\xe1\xe1\0\0)
# italic:
ForegroundColor_7=@Variant(\0\0\0\x43\x1\xff\xff\x{{base07-hex-r}}\x{{base07-hex-r}}\x{{base07-hex-g}}\x{{base07-hex-g}}\x{{base07-hex-b}}\x{{base07-hex-b}}\0\0)
# bold:
ForegroundColor_8=@Variant(\0\0\0\x43\x1\xff\xff\x{{base07-hex-r}}\x{{base07-hex-r}}\x{{base07-hex-g}}\x{{base07-hex-g}}\x{{base07-hex-b}}\x{{base07-hex-b}}\0\0)
# list item:
ForegroundColor_9=@Variant(\0\0\0\x43\x1\xff\xff\x{{base0A-hex-r}}\x{{base0A-hex-r}}\x{{base0A-hex-g}}\x{{base0A-hex-g}}\x{{base0A-hex-b}}\x{{base0A-hex-b}}\0\0)
Italic_7=true
Name={{scheme-name}}
Underline_26=true
Underline_0=true

[Export]
SchemaKey=EditorColorSchema-8ec0b6b4-ad84-4710-8b56-7971d0b263ed

# vim: set ft=dosini :
