! Base16 {{scheme-name}}
! Scheme: {{scheme-author}}

#define base00 #{{base00-hex}}
#define base01 #{{base01-hex}}
#define base02 #{{base02-hex}}
#define base03 #{{base03-hex}}
#define base04 #{{base04-hex}}
#define base05 #{{base05-hex}}
#define base06 #{{base06-hex}}
#define base07 #{{base07-hex}}
#define base08 #{{base08-hex}}
#define base09 #{{base09-hex}}
#define base0A #{{base0A-hex}}
#define base0B #{{base0B-hex}}
#define base0C #{{base0C-hex}}
#define base0D #{{base0D-hex}}
#define base0E #{{base0E-hex}}
#define base0F #{{base0F-hex}}

*foreground:   base05
#ifdef background_opacity
*background:   [background_opacity]base00
#else
*background:   base00
#endif
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base08
*color10:      base0B
*color11:      base0A
*color12:      base0D
*color13:      base0E
*color14:      base0C
*color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*color16:      base09
*color17:      base0F
*color18:      base01
*color19:      base02
*color20:      base04
*color21:      base06
