## Base16 {{scheme-name}}
# Author: {{scheme-author}}
#
# You can use these variables anywhere in the i3status configuration file.

general {
       color_good = "#{{base0B-hex}}"
       color_bad = "#{{base08-hex}}"
       color_degraded = "#{{base0A-hex}}"
}
