[{{scheme-name}}]
text={{base05-hex}}
text(bold)={{base05-hex}}
background={{base00-hex}}
black={{base00-hex}}
black(bold)={{base03-hex}}
red={{base08-hex}}
red(bold)={{base09-hex}}
green={{base0B-hex}}
green(bold)={{base01-hex}}
yellow={{base0A-hex}}
yellow(bold)={{base02-hex}}
blue={{base0D-hex}}
blue(bold)={{base04-hex}}
magenta={{base0E-hex}}
magenta(bold)={{base06-hex}}
cyan={{base0C-hex}}
cyan(bold)={{base0F-hex}}
white={{base05-hex}}
white(bold)={{base07-hex}}
[Names]
name0={{scheme-name}}
count=1