/* Background */ .chroma { color: #{{base05-hex}}; background-color: #{{base00-hex}} }
/* Other */ .chroma .x { color: #{{base05-hex}} }
/* Error */ .chroma .err { color: #{{base08-hex}} }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%; background-color: #{{base02-hex}} }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* Keyword */ .chroma .k { color: #{{base0E-hex}} }
/* KeywordConstant */ .chroma .kc { color: #{{base0E-hex}} }
/* KeywordDeclaration */ .chroma .kd { color: #{{base0E-hex}} }
/* KeywordNamespace */ .chroma .kn { color: #{{base0E-hex}} }
/* KeywordPseudo */ .chroma .kp { color: #{{base0E-hex}} }
/* KeywordReserved */ .chroma .kr { color: #{{base0E-hex}} }
/* KeywordType */ .chroma .kt { color: #{{base08-hex}} }
/* Name */ .chroma .n { color: #{{base0D-hex}} }
/* NameAttribute */ .chroma .na { color: #{{base0D-hex}} }
/* NameBuiltin */ .chroma .nb { color: #{{base0D-hex}} }
/* NameBuiltinPseudo */ .chroma .bp { color: #{{base08-hex}} }
/* NameClass */ .chroma .nc { color: #{{base0D-hex}} }
/* NameConstant */ .chroma .no { color: #{{base09-hex}} }
/* NameDecorator */ .chroma .nd { color: #{{base09-hex}} }
/* NameEntity */ .chroma .ni { color: #{{base0D-hex}} }
/* NameException */ .chroma .ne { color: #{{base0D-hex}} }
/* NameFunction */ .chroma .nf { color: #{{base0D-hex}} }
/* NameFunctionMagic */ .chroma .fm { color: #{{base0D-hex}} }
/* NameLabel */ .chroma .nl { color: #{{base0D-hex}} }
/* NameNamespace */ .chroma .nn { color: #{{base0D-hex}} }
/* NameOther */ .chroma .nx { color: #{{base0D-hex}} }
/* NameProperty */ .chroma .py { color: #{{base0D-hex}} }
/* NameTag */ .chroma .nt { color: #{{base0E-hex}} }
/* NameVariable */ .chroma .nv { color: #{{base0D-hex}} }
/* NameVariableClass */ .chroma .vc { color: #{{base0D-hex}} }
/* NameVariableGlobal */ .chroma .vg { color: #{{base0D-hex}} }
/* NameVariableInstance */ .chroma .vi { color: #{{base08-hex}} }
/* NameVariableMagic */ .chroma .vm { color: #{{base0D-hex}} }
/* Literal */ .chroma .l { color: #{{base0B-hex}} }
/* LiteralDate */ .chroma .ld { color: #{{base0B-hex}} }
/* LiteralString */ .chroma .s { color: #{{base0B-hex}} }
/* LiteralStringAffix */ .chroma .sa { color: #{{base0B-hex}} }
/* LiteralStringBacktick */ .chroma .sb { color: #{{base0B-hex}} }
/* LiteralStringChar */ .chroma .sc { color: #{{base0B-hex}} }
/* LiteralStringDelimiter */ .chroma .dl { color: #{{base0B-hex}} }
/* LiteralStringDoc */ .chroma .sd { color: #{{base0B-hex}} }
/* LiteralStringDouble */ .chroma .s2 { color: #{{base0B-hex}} }
/* LiteralStringEscape */ .chroma .se { color: #{{base0B-hex}} }
/* LiteralStringHeredoc */ .chroma .sh { color: #{{base0B-hex}} }
/* LiteralStringInterpol */ .chroma .si { color: #{{base0F-hex}} }
/* LiteralStringOther */ .chroma .sx { color: #{{base0B-hex}} }
/* LiteralStringRegex */ .chroma .sr { color: #{{base0C-hex}} }
/* LiteralStringSingle */ .chroma .s1 { color: #{{base0B-hex}} }
/* LiteralStringSymbol */ .chroma .ss { color: #{{base09-hex}} }
/* LiteralNumber */ .chroma .m { color: #{{base09-hex}} }
/* LiteralNumberBin */ .chroma .mb { color: #{{base09-hex}} }
/* LiteralNumberFloat */ .chroma .mf { color: #{{base09-hex}} }
/* LiteralNumberHex */ .chroma .mh { color: #{{base09-hex}} }
/* LiteralNumberInteger */ .chroma .mi { color: #{{base09-hex}} }
/* LiteralNumberIntegerLong */ .chroma .il { color: #{{base09-hex}} }
/* LiteralNumberOct */ .chroma .mo { color: #{{base09-hex}} }
/* Operator */ .chroma .o { color: #{{base05-hex}} }
/* OperatorWord */ .chroma .ow { color: #{{base05-hex}} }
/* Punctuation */ .chroma .p { color: #{{base05-hex}} }
/* Comment */ .chroma .c { color: #{{base03-hex}} }
/* CommentHashbang */ .chroma .ch { color: #{{base03-hex}} }
/* CommentMultiline */ .chroma .cm { color: #{{base03-hex}} }
/* CommentSingle */ .chroma .c1 { color: #{{base03-hex}} }
/* CommentSpecial */ .chroma .cs { color: #{{base03-hex}} }
/* CommentPreproc */ .chroma .cp { color: #{{base0F-hex}} }
/* CommentPreprocFile */ .chroma .cpf { color: #{{base0B-hex}} }
/* Generic */ .chroma .g { color: #{{base05-hex}} }
/* GenericDeleted */ .chroma .gd { color: #{{base08-hex}} }
/* GenericEmph */ .chroma .ge { color: #{{base05-hex}}; font-style: italic }
/* GenericError */ .chroma .gr { color: #{{base05-hex}} }
/* GenericHeading */ .chroma .gh { color: #{{base0D-hex}} }
/* GenericInserted */ .chroma .gi { color: #{{base0B-hex}} }
/* GenericOutput */ .chroma .go { color: #{{base05-hex}} }
/* GenericPrompt */ .chroma .gp { color: #{{base05-hex}} }
/* GenericStrong */ .chroma .gs { color: #{{base05-hex}}; font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: #{{base0D-hex}} }
/* GenericTraceback */ .chroma .gt { color: #{{base05-hex}} }
/* GenericUnderline */ .chroma .gl { color: #{{base05-hex}}; text-decoration: underline }
/* TextWhitespace */ .chroma .w { color: #{{base00-hex}}; text-decoration: underline }
