{
  "special": {
    "background": "#{{base00-hex}}",
    "foreground": "#{{base05-hex}}",
    "cursor":     "#{{base05-hex}}"
  },
  "colors": {
    "color0":  "#{{base00-hex}}",
    "color1":  "#{{base08-hex}}",
    "color2":  "#{{base0B-hex}}",
    "color3":  "#{{base0A-hex}}",
    "color4":  "#{{base0D-hex}}",
    "color5":  "#{{base0E-hex}}",
    "color6":  "#{{base0C-hex}}",
    "color7":  "#{{base05-hex}}",
    "color8":  "#{{base03-hex}}",
    "color9":  "#{{base00-hex}}",
    "color10": "#{{base0B-hex}}",
    "color11": "#{{base0A-hex}}",
    "color12": "#{{base0D-hex}}",
    "color13": "#{{base0E-hex}}",
    "color14": "#{{base0C-hex}}",
    "color15": "#{{base07-hex}}"
  }
}
