{
    "name":"base16-{{ scheme-name }}",
    "version":"1.0",
    "description":"base16-{{scheme-name}}",
    "originator":"{{ scheme-author }} - {{ scheme-slug }}",
    "colors":[
        {"name": "Background(Read Only)", "color":"#252620" },
        {"name": "Search result background", "color":"#{{ base0A-hex }}" },
        {"name": "Search result background (highlighted)", "color":"#{{ base02-hex }}" },
        {"name": "Fold Square", "color":"#{{ base03-hex }}", "secondcolor":"#{{ base00-hex }}" },
        {"name": "Fold Cross", "color":"#FFFFFF", "secondcolor":"#{{ base00-hex }}" },
        {"name": "Indentation Guide", "color":"#{{ base03-hex }}" },
        {"name": "Indicator Margin", "color":"#3B3A32" },
        {"name": "Indicator Margin(Separator)", "color":"#3B3A32" },
        {"name": "Tooltip Border", "color":"#979792" },
        {"name": "Tooltip Pager Top", "color":"#292A25" },
        {"name": "Tooltip Pager Bottom", "color":"#292A25" },
        {"name": "Tooltip Pager Triangle", "color":"#C7C7C2" },
        {"name": "Tooltip Pager Text", "color":"#C7C7C2" },
        {"name": "Notification Border", "color":"#979792" },
        {"name": "Bookmarks", "color":"#FDD99B", "secondcolor":"#000000" },
        {"name": "Underline(Error)", "color":"#FF0000" },
        {"name": "Underline(Warning)", "color":"#719ECF" },
        {"name": "Underline(Suggestion)", "color":"#4D9A06" },
        {"name": "Underline(Hint)", "color":"#8AE233" },
        {"name": "Quick Diff(Dirty)", "color":"#{{ base0B-hex }}" },
        {"name": "Quick Diff(Changed)", "color":"#A4E22E" },
        {"name": "Brace Matching(Rectangle)", "color":"#6698CC", "secondcolor":"#AACBEE" },
        {"name": "Usages(Rectangle)", "color":"#527F99", "secondcolor":"#527F99", "bordercolor":"#527F99" },
        {"name": "Changing usages(Rectangle)", "color":"#996D74", "secondcolor":"#996D74", "bordercolor":"#996D74" },
        {"name": "Breakpoint Marker", "color":"#6F3535", "bordercolor":"#7A3939" },
        {"name": "Breakpoint Marker(Invalid)", "color":"#604242", "bordercolor":"#6A4A4A" },
        {"name": "Breakpoint Marker(Disabled)", "color":"#707070", "bordercolor":"#7B7B7B" },
        {"name": "Debugger Current Line Marker", "color":"#68674C", "bordercolor":"#737254" },
        {"name": "Debugger Stack Line Marker", "color":"#5C6B4D", "bordercolor":"#657655" },
        {"name": "Primary Link", "color":"#{{ base05-hex }}", "secondcolor":"#7F4981" },
        {"name": "Primary Link(Highlighted)", "color":"#{{ base05-hex }}", "secondcolor":"#B067B3" },
        {"name": "Secondary Link", "color":"#{{ base05-hex }}", "secondcolor":"#262128" },
        {"name": "Secondary Link(Highlighted)", "color":"#{{ base05-hex }}", "secondcolor":"#4E4552" },
        {"name": "Current Line Marker", "color":"#313129" },
        {"name": "Current Line Marker(Inactive)", "color":"#2F2F28" },
        {"name": "Column Ruler", "color":"#575852" },
        {"name": "Completion Matching Substring", "color":"#BA3372" },
        {"name": "Completion Border", "color":"#C9C9C9" },
        {"name": "Completion Border(Inactive)", "color":"#BEBEBE" },
        {"name": "Message Bubble Error Marker", "color":"#B28D37" },
        {"name": "Message Bubble Error Tag", "color":"#E3A5A0", "secondcolor":"#000000" },
        {"name": "Message Bubble Error Tooltip", "color":"#E3A5A0" },
        {"name": "Message Bubble Error Line", "color":"#7A645C" },
        {"name": "Message Bubble Error Counter", "color":"#000000", "secondcolor":"#E3A5A0" },
        {"name": "Message Bubble Error IconMargin", "color":"#725C54", "bordercolor":"#805B4D" },
        {"name": "Message Bubble Warning Marker", "color":"#B28D37" },
        {"name": "Message Bubble Warning Tag", "color":"#EEE79D", "secondcolor":"#000000" },
        {"name": "Message Bubble Warning Tooltip", "color":"#EEE79D" },
        {"name": "Message Bubble Warning Line", "color":"#807E5C" },
        {"name": "Message Bubble Warning Counter", "color":"#000000", "secondcolor":"#EEE79D" },
        {"name": "Message Bubble Warning IconMargin", "color":"#777553", "bordercolor":"#948E51" }    ],
    "text":[
        {"name": "Plain Text", "fore":"#{{ base05-hex }}", "back":"#{{ base00-hex }}" },
        {"name": "Selected Text", "back":"#49483E" },
        {"name": "Selected Text(Inactive)", "back":"#383830" },
        {"name": "Collapsed Text", "fore":"#{{ base03-hex }}", "back":"#{{ base00-hex }}" },
        {"name": "Line Numbers", "fore":"#BCBCBC", "back":"#{{ base00-hex }}" },
        {"name": "Punctuation", "fore":"#{{ base05-hex }}" },
        {"name": "Punctuation(Brackets)", "fore":"#{{ base05-hex }}" },
        {"name": "Comment(Line)", "fore":"#{{ base03-hex }}" },
        {"name": "Comment(Block)", "fore":"#{{ base03-hex }}" },
        {"name": "Comment(Doc)", "fore":"#{{ base0B-hex }}" },
        {"name": "Comment(DocTag)", "fore":"#{{ base0B-hex }}" },
        {"name": "Comment Tag", "fore":"#{{ base03-hex }}", "weight":"Bold" },
        {"name": "Excluded Code", "fore":"#{{ base03-hex }}" },
        {"name": "String", "fore":"#{{ base0B-hex }}" },
        {"name": "String(Escape)", "fore":"#A5AB34" },
        {"name": "String(C# @ Verbatim)", "fore":"#{{ base0B-hex }}" },
        {"name": "Number", "fore":"#{{ base0B-hex }}" },
        {"name": "Preprocessor", "fore":"#{{ base08-hex }}" },
        {"name": "Preprocessor(Region Name)", "fore":"#{{ base08-hex }}" },
        {"name": "Xml Text", "fore":"#{{ base05-hex }}" },
        {"name": "Xml Delimiter", "fore":"#{{ base05-hex }}" },
        {"name": "Xml Name", "fore":"#{{ base09-hex }}" },
        {"name": "Xml Attribute", "fore":"#{{ base05-hex }}" },
        {"name": "Xml Attribute Quotes", "fore":"#{{ base0B-hex }}" },
        {"name": "Xml Attribute Value", "fore":"#{{ base0B-hex }}" },
        {"name": "Xml Comment", "fore":"#{{ base03-hex }}" },
        {"name": "Xml CData Section", "fore":"#{{ base05-hex }}" },
        {"name": "Tooltip Text", "fore":"#{{ base05-hex }}", "back":"#272725" },
        {"name": "Notification Text", "fore":"#{{ base05-hex }}", "back":"#272725" },
        {"name": "Completion Selected Text(Inactive)", "fore":"#FFFFFF", "back":"#FFFFFF" },
        {"name": "Keyword(Access)", "fore":"#{{ base0B-hex }}" },
        {"name": "Keyword(Type)", "fore":"#{{ base0A-hex }}" },
        {"name": "Keyword(Operator)", "fore":"#{{ base08-hex }}" },
        {"name": "Keyword(Selection)", "fore":"#{{ base0E-hex }}" },
        {"name": "Keyword(Iteration)", "fore":"#{{ base0E-hex }}" },
        {"name": "Keyword(Jump)", "fore":"#{{ base0E-hex }}" },
        {"name": "Keyword(Context)", "fore":"#{{ base0E-hex }}" },
        {"name": "Keyword(Exception)", "fore":"#{{ base0C-hex }}" },
        {"name": "Keyword(Modifiers)", "fore":"#{{ base0E-hex }}" },
        {"name": "Keyword(Constants)", "fore":"#{{ base09-hex }}" },
        {"name": "Keyword(Void)", "fore":"#{{ base0A-hex }}" },
        {"name": "Keyword(Namespace)", "fore":"#{{ base0E-hex }}" },
        {"name": "Keyword(Property)", "fore":"#{{ base0B-hex }}" },
        {"name": "Keyword(Declaration)", "fore":"#{{ base0B-hex }}" },
        {"name": "Keyword(Parameter)", "fore":"#{{ base0E-hex }}" },
        {"name": "Keyword(Operator Declaration)", "fore":"#{{ base08-hex }}" },
        {"name": "Keyword(Other)", "fore":"#{{ base0E-hex }}" },
        {"name": "User Types", "fore":"#{{ base0A-hex }}" },
        {"name": "User Types(Enums)", "fore":"#{{ base0A-hex }}" },
        {"name": "User Types(Interfaces)", "fore":"#{{ base0A-hex }}" },
        {"name": "User Types(Delegates)", "fore":"#{{ base0A-hex }}" },
        {"name": "User Types(Value types)", "fore":"#{{ base0A-hex }}" },
        {"name": "User Types(Type parameters)", "fore":"#{{ base0A-hex }}" },
        {"name": "User Field Usage", "fore":"#{{ base0D-hex }}" },
        {"name": "User Field Declaration", "fore":"#{{ base0D-hex }}" },
        {"name": "User Property Usage", "fore":"#{{ base0D-hex }}" },
        {"name": "User Property Declaration", "fore":"#{{ base0D-hex }}" },
        {"name": "User Event Usage", "fore":"#{{ base08-hex }}" },
        {"name": "User Event Declaration", "fore":"#{{ base08-hex }}" },
        {"name": "User Method Usage", "fore":"#{{ base05-hex }}" },
        {"name": "User Method Declaration", "fore":"#{{ base05-hex }}" },
        {"name": "User Parameter Usage", "fore":"#{{ base05-hex }}" },
        {"name": "User Parameter Declaration", "fore":"#{{ base05-hex }}" },
        {"name": "User Variable Usage", "fore":"#{{ base05-hex }}" },
        {"name": "User Variable Declaration", "fore":"#{{ base05-hex }}" },
        {"name": "Syntax Error", "fore":"#F8F8EF", "back":"#{{ base0A-hex }}" },
        {"name": "String Format Items", "fore":"#{{ base05-hex }}" },
        {"name": "Breakpoint Text", "fore":"#FFFFFF", "back":"#6F3535" },
        {"name": "Debugger Current Statement", "fore":"#FFFFFF", "back":"#68674C" },
        {"name": "Debugger Stack Line", "fore":"#FFFFFF", "back":"#5C6B4D" },
        {"name": "Diff Line(Added)", "fore":"#00898B" },
        {"name": "Diff Line(Removed)", "fore":"#000000" },
        {"name": "Diff Line(Changed)", "fore":"#000000" },
        {"name": "Diff Header", "fore":"#008000" },
        {"name": "Diff Header(Separator)", "fore":"#0000FF", "weight":"Bold" },
        {"name": "Diff Header(Old)", "fore":"#008000", "weight":"Bold" },
        {"name": "Diff Header(New)", "fore":"#008000", "weight":"Bold" },
        {"name": "Diff Location", "fore":"#FB8A00", "weight":"Bold" },
        {"name": "Html Attribute Name", "fore":"#{{ base05-hex }}" },
        {"name": "Html Attribute Value", "fore":"#{{ base0B-hex }}" },
        {"name": "Html Comment", "fore":"#{{ base03-hex }}" },
        {"name": "Html Element Name", "fore":"#{{ base0A-hex }}" },
        {"name": "Html Entity", "fore":"#{{ base08-hex }}" },
        {"name": "Html Operator", "fore":"#{{ base0A-hex }}" },
        {"name": "Html Server-Side Script", "fore":"#{{ base05-hex }}", "back":"#363732" },
        {"name": "Html Tag Delimiter", "fore":"#{{ base05-hex }}" },
        {"name": "Razor Code", "fore":"#{{ base05-hex }}", "back":"#363732" },
        {"name": "Css Comment", "fore":"#{{ base03-hex }}", "weight":"Bold" },
        {"name": "Css Property Value", "fore":"#{{ base0B-hex }}", "weight":"Bold" },
        {"name": "Css Selector", "fore":"#{{ base03-hex }}", "weight":"Bold" },
        {"name": "Css String Value", "fore":"#000000", "weight":"Bold" },
        {"name": "Css Keyword", "fore":"#{{ base0A-hex }}", "weight":"Bold" },
        {"name": "Script Comment", "fore":"#{{ base03-hex }}" },
        {"name": "Script Keyword", "fore":"#{{ base0A-hex }}" },
        {"name": "Script Number", "fore":"#{{ base0B-hex }}" },
        {"name": "Script String", "fore":"#{{ base0B-hex }}" }
    ]
}
