{
	"black":        "#{{base00-hex}}",
	"dark_blue":    "#{{base0D-hex}}",
	"dark_green":   "#{{base0B-hex}}",
	"dark_cyan":    "#{{base0C-hex}}",
	"dark_red":     "#{{base08-hex}}",
	"dark_magenta": "#{{base0E-hex}}",
	"dark_yellow":  "#{{base0A-hex}}",
	"gray":         "#{{base07-hex}}",
	"dark_gray":    "#{{base01-hex}}",
	"blue":         "#{{base04-hex}}",
	"green":        "#{{base02-hex}}",
	"cyan":         "#{{base05-hex}}",
	"red":          "#{{base09-hex}}",
	"magenta":      "#{{base0F-hex}}",
	"yellow":       "#{{base03-hex}}",
	"white":        "#{{base06-hex}}",
	"screen_colors": "white,black",
	"popup_colors":  "dark_magenta,gray"
}
