Windows Registry Editor Version 5.00

; Base16 {{scheme-name}}
; schema by {{scheme-author}}
[HKEY_CURRENT_USER\Software\SimonTatham\PuTTY\Sessions\{{scheme-slug}}]

; Default Foreground
"Colour0"="{{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}}"

; Default Bold Foreground  -- equals to non-bold
"Colour1"="{{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}}"

; Default Background
"Colour2"="{{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}"

; Default Bold Background  -- equals to non-bold
"Colour3"="{{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}"

; Cursor Text -- equals to default background
"Colour4"="{{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}"

; Cursor Colour -- equals to default foreground
"Colour5"="{{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}}"

; ANSI Black
"Colour6"="{{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}"

; ANSI Black Bold
"Colour7"="{{base03-rgb-r}},{{base03-rgb-g}},{{base03-rgb-b}}"

; ANSI Red
"Colour8"="{{base08-rgb-r}},{{base08-rgb-g}},{{base08-rgb-b}}"

; ANSI Red Bold
"Colour9"="{{base09-rgb-r}},{{base09-rgb-g}},{{base09-rgb-b}}"

; ANSI Green
"Colour10"="{{base0B-rgb-r}},{{base0B-rgb-g}},{{base0B-rgb-b}}"

; ANSI Green Bold
"Colour11"="{{base01-rgb-r}},{{base01-rgb-g}},{{base01-rgb-b}}"

; ANSI Yellow
"Colour12"="{{base0A-rgb-r}},{{base0A-rgb-g}},{{base0A-rgb-b}}"

; ANSI Yellow Bold
"Colour13"="{{base02-rgb-r}},{{base02-rgb-g}},{{base02-rgb-b}}"

; ANSI Blue
"Colour14"="{{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}}"

; ANSI Blue Bold
"Colour15"="{{base04-rgb-r}},{{base04-rgb-g}},{{base04-rgb-b}}"

; ANSI Magenta
"Colour16"="{{base0E-rgb-r}},{{base0E-rgb-g}},{{base0E-rgb-b}}"

; ANSI Magenta Bold
"Colour17"="{{base06-rgb-r}},{{base06-rgb-g}},{{base06-rgb-b}}"

; ANSI Cyan
"Colour18"="{{base0C-rgb-r}},{{base0C-rgb-g}},{{base0C-rgb-b}}"

; ANSI Cyan Bold
"Colour19"="{{base0F-rgb-r}},{{base0F-rgb-g}},{{base0F-rgb-b}}"

; ANSI White
"Colour20"="{{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}}"

; ANSI White Bold
"Colour21"="{{base07-rgb-r}},{{base07-rgb-g}},{{base07-rgb-b}}"

