<?xml version="1.0"?>
<settings>
	<console>
		<colors>
			<color  id="0" r="{{ base00-rgb-r }}" g="{{ base00-rgb-g }}" b="{{ base00-rgb-b }}"/> <!-- black -->
			<color  id="1" r="{{ base0D-rgb-r }}" g="{{ base0D-rgb-g }}" b="{{ base0D-rgb-b }}"/> <!-- blue -->
			<color  id="2" r="{{ base0B-rgb-r }}" g="{{ base0B-rgb-g }}" b="{{ base0B-rgb-b }}"/> <!-- green -->
			<color  id="3" r="{{ base0C-rgb-r }}" g="{{ base0C-rgb-g }}" b="{{ base0C-rgb-b }}"/> <!-- cyan -->
			<color  id="4" r="{{ base08-rgb-r }}" g="{{ base08-rgb-g }}" b="{{ base08-rgb-b }}"/> <!-- red -->
			<color  id="5" r="{{ base0E-rgb-r }}" g="{{ base0E-rgb-g }}" b="{{ base0E-rgb-b }}"/> <!-- magenta -->
			<color  id="6" r="{{ base09-rgb-r }}" g="{{ base09-rgb-g }}" b="{{ base09-rgb-b }}"/> <!-- yellow/brown -->
			<color  id="7" r="{{ base04-rgb-r }}" g="{{ base04-rgb-g }}" b="{{ base04-rgb-b }}"/> <!-- white -->
			<color  id="8" r="{{ base03-rgb-r }}" g="{{ base03-rgb-g }}" b="{{ base03-rgb-b }}"/> <!-- brblack -->
			<color  id="9" r="{{ base0C-rgb-r }}" g="{{ base0C-rgb-g }}" b="{{ base0C-rgb-b }}"/> <!-- brblue -->
			<color id="10" r="{{ base0A-rgb-r }}" g="{{ base0A-rgb-g }}" b="{{ base0A-rgb-b }}"/> <!-- brgreen -->
			<color id="11" r="{{ base0C-rgb-r }}" g="{{ base0C-rgb-g }}" b="{{ base0C-rgb-b }}"/> <!-- brcyan -->
			<color id="12" r="{{ base08-rgb-r }}" g="{{ base08-rgb-g }}" b="{{ base08-rgb-b }}"/> <!-- brred -->
			<color id="13" r="{{ base0E-rgb-r }}" g="{{ base0E-rgb-g }}" b="{{ base0E-rgb-b }}"/> <!-- brmagenta/violet -->
			<color id="14" r="{{ base0A-rgb-r }}" g="{{ base0A-rgb-g }}" b="{{ base0A-rgb-b }}"/> <!-- bryellow -->
			<color id="15" r="{{ base07-rgb-r }}" g="{{ base07-rgb-g }}" b="{{ base07-rgb-b }}"/> <!-- brwhite -->
		</colors>
	</console>
</settings>
