/* {{{scheme-name}}} by {{{scheme-author}}} */

.base00-bg { background-color: #{{base00-hex}}; }
.base01-bg { background-color: #{{base01-hex}}; }
.base02-bg { background-color: #{{base02-hex}}; }
.base03-bg { background-color: #{{base03-hex}}; }
.base04-bg { background-color: #{{base04-hex}}; }
.base05-bg { background-color: #{{base05-hex}}; }
.base06-bg { background-color: #{{base06-hex}}; }
.base07-bg { background-color: #{{base07-hex}}; }
.base08-bg { background-color: #{{base08-hex}}; }
.base09-bg { background-color: #{{base09-hex}}; }
.base0A-bg { background-color: #{{base0A-hex}}; }
.base0B-bg { background-color: #{{base0B-hex}}; }
.base0C-bg { background-color: #{{base0C-hex}}; }
.base0D-bg { background-color: #{{base0D-hex}}; }
.base0E-bg { background-color: #{{base0E-hex}}; }
.base0F-bg { background-color: #{{base0F-hex}}; }

.base00 { color: #{{base00-hex}}; }
.base01 { color: #{{base01-hex}}; }
.base02 { color: #{{base02-hex}}; }
.base03 { color: #{{base03-hex}}; }
.base04 { color: #{{base04-hex}}; }
.base05 { color: #{{base05-hex}}; }
.base06 { color: #{{base06-hex}}; }
.base07 { color: #{{base07-hex}}; }
.base08 { color: #{{base08-hex}}; }
.base09 { color: #{{base09-hex}}; }
.base0A { color: #{{base0A-hex}}; }
.base0B { color: #{{base0B-hex}}; }
.base0C { color: #{{base0C-hex}}; }
.base0D { color: #{{base0D-hex}}; }
.base0E { color: #{{base0E-hex}}; }
.base0F { color: #{{base0F-hex}}; }
