td.linenos {
    width: 2em;
    font-size: 0.9em;
    padding-top: 1.28em;
}

/* Highlight diff */
code span {
  &.head {
    color: var(--highlight);
  }
  &.hunk {
    color: var(--text-muted);
  }
  &.ctx {
    color: var(--text-main);
  }
  &.add {
    color: var(--positive);
  }
  &.del {
    color: var(--negative);
  }
}

/* Light up targeted line (for linking, etc) */
pre > code {
  position: relative;
  a[id^='line-'] {
    height: 1.18rem;
    width: 101.96%;
    position: absolute;
    left: -1em;
    pointer-events: none;
    &:target {
      background-color: var(--highlight);
      opacity: 0.3;
    }
  }
}
