## Base16 {{scheme-name}}
# Author: {{scheme-author}}
# In file gtk-2.0/gtkrc, delete "gtk-color-scheme" including everything between quotes (don't delete gtk-auto-mnemonics) and inject this.
gtk-color-scheme = "bg_color:#{{base00-hex}}
color0:#{{base00-hex}}
text_color:#{{base05-hex}}
selected_bg_color:#{{base02-hex}}
selected_fg_color:#{{base05-hex}}
tooltip_bg_color:#{{base00-hex}}
tooltip_fg_color:#{{base05-hex}}
titlebar_bg_color:#{{base00-hex}}
titlebar_fg_color:#{{base05-hex}}
menu_bg_color:#{{base00-hex}}
menu_fg_color:#{{base05-hex}}
link_color:#{{base02-hex}}"
