# Base16 {{scheme-name}} - Termux color config
# Scheme by {{scheme-author}}

background=#{{base00-hex}}
foreground=#{{base05-hex}}
cursor=#{{base05-hex}}

# normal
color0=#{{base00-hex}}
color1=#{{base08-hex}}
color2=#{{base0B-hex}}
color3=#{{base0A-hex}}
color4=#{{base0D-hex}}
color5=#{{base0E-hex}}
color6=#{{base0C-hex}}
color7=#{{base05-hex}}

# bright
color8=#{{base03-hex}}
color9=#{{base08-hex}}
color10=#{{base0B-hex}}
color11=#{{base0A-hex}}
color12=#{{base0D-hex}}
color13=#{{base0E-hex}}
color14=#{{base0C-hex}}
color15=#{{base07-hex}}

# extended
color16=#{{base09-hex}}
color17=#{{base0F-hex}}
color18=#{{base01-hex}}
color19=#{{base02-hex}}
color20=#{{base04-hex}}
color21=#{{base06-hex}}
