/*
*
* Base16 {{scheme-name}}
* Author: {{scheme-author}}
*
*/

@define-color base00 #{{base00-hex}};
@define-color base01 #{{base01-hex}};
@define-color base02 #{{base02-hex}};
@define-color base03 #{{base03-hex}};
@define-color base04 #{{base04-hex}};
@define-color base05 #{{base05-hex}};
@define-color base06 #{{base06-hex}};
@define-color base07 #{{base07-hex}};
@define-color base08 #{{base08-hex}};
@define-color base09 #{{base09-hex}};
@define-color base0A #{{base0A-hex}};
@define-color base0B #{{base0B-hex}};
@define-color base0C #{{base0C-hex}};
@define-color base0D #{{base0D-hex}};
@define-color base0E #{{base0E-hex}};
@define-color base0F #{{base0F-hex}};
