
# base16 {{scheme-name}} by {{scheme-author}}

.colors *

-text		${{base05-hex}}/${{base00-hex}}
-status		${{base04-hex}}/${{base02-hex}}
-cursor		${{base00-hex}}/${{base05-hex}}
-selection	/${{base02-hex}}
-curlin		/${{base01-hex}}
-linum		${{base03-hex}}/${{base01-hex}}
-curlinum	${{base04-hex}}/${{base01-hex}}
-menusel	${{base01-hex}}/${{base04-hex}}

-term 0 	${{base00-hex}}
-term 1 	${{base0D-hex}}
-term 2 	${{base0B-hex}}
-term 3 	${{base0C-hex}}
-term 4 	${{base09-hex}}
-term 5 	${{base0E-hex}}
-term 6 	${{base0A-hex}}
-term 7 	${{base04-hex}}
-term 8 	${{base03-hex}}
-term 9 	${{base0D-hex}}
-term 10	${{base0B-hex}}
-term 11	${{base0C-hex}}
-term 12	${{base08-hex}}
-term 13	${{base0F-hex}}
-term 14	${{base0A-hex}}
-term 15	${{base07-hex}}

=Constant	${{base09-hex}}
=String		${{base0B-hex}}
=Escape		${{base0C-hex}}

=Comment	${{base03-hex}}
=StorageClass	+Type
=Keyword	${{base0E-hex}}
=Conditional	${{base0E-hex}}
=Operator	${{base05-hex}}
=Loop		${{base0A-hex}}
=Statement	${{base08-hex}}
=Type		${{base0A-hex}}

=DefinedIdent	${{base08-hex}}
=Label		${{base0A-hex}}
=DefinedType	${{base0A-hex}}
=Structure	${{base0E-hex}}

=Preproc	${{base0A-hex}}
=Include	${{base0D-hex}}
=Define		${{base0E-hex}}
=TODO		${{base0A-hex}}/${{base01-hex}}
=Precond	${{base0E-hex}}

=diff.AddLine	${{base0B-hex}}/${{base01-hex}}
=diff.ChgLine	${{base03-hex}}/${{base01-hex}}
=diff.DelLine	${{base08-hex}}/${{base01-hex}}
=diff.File	${{base08-hex}}
=diff.FileNew	${{base0B-hex}}
=diff.Hunk	${{base0D-hex}}
