## Base16 {{scheme-name}}
# Author: {{scheme-author}}
#
# You can use these variables anywhere in the mako configuration file.

background-color=#{{base00-hex}}dd
text-color=#{{base05-hex}}dd
border-color=#{{base04-hex}}dd

[urgency=low]
background-color=#{{base00-hex}}bb
text-color=#{{base0A-hex}}bb
border-color=#{{base04-hex}}bb

[urgency=high]
background-color=#{{base00-hex}}ff
text-color=#{{base08-hex}}ff
border-color=#{{base04-hex}}ff
