{
    "name": "Base16 {{scheme-name}}",
    "style": "Fusion",

    "colors": {
        "base00": [{{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}}],
        "base01": [{{base01-rgb-r}}, {{base01-rgb-g}}, {{base01-rgb-b}}],
        "base02": [{{base02-rgb-r}}, {{base02-rgb-g}}, {{base02-rgb-b}}],
        "base03": [{{base03-rgb-r}}, {{base03-rgb-g}}, {{base03-rgb-b}}],
        "base04": [{{base04-rgb-r}}, {{base04-rgb-g}}, {{base04-rgb-b}}],
        "base05": [{{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}],
        "base06": [{{base06-rgb-r}}, {{base06-rgb-g}}, {{base06-rgb-b}}],
        "base07": [{{base07-rgb-r}}, {{base07-rgb-g}}, {{base07-rgb-b}}],
        "base08": [{{base08-rgb-r}}, {{base08-rgb-g}}, {{base08-rgb-b}}],
        "base09": [{{base09-rgb-r}}, {{base09-rgb-g}}, {{base09-rgb-b}}],
        "base0A": [{{base0A-rgb-r}}, {{base0A-rgb-g}}, {{base0A-rgb-b}}],
        "base0B": [{{base0B-rgb-r}}, {{base0B-rgb-g}}, {{base0B-rgb-b}}],
        "base0C": [{{base0C-rgb-r}}, {{base0C-rgb-g}}, {{base0C-rgb-b}}],
        "base0D": [{{base0D-rgb-r}}, {{base0D-rgb-g}}, {{base0D-rgb-b}}],
        "base0E": [{{base0E-rgb-r}}, {{base0E-rgb-g}}, {{base0E-rgb-b}}],
        "base0F": [{{base0F-rgb-r}}, {{base0F-rgb-g}}, {{base0F-rgb-b}}]
    },

    "palette": {
        "Window":          "base00",
        "WindowText":      "base05",
        "Base":            "base00",
        "AlternateBase":   "base04",
        "ToolTipBase":     "base01",
        "ToolTipText":     "base05",
        "Text":            "base05",
        "Button":          "base01",
        "ButtonText":      "base05",
        "BrightText":      "base0F",
        "Link":            "base0B",
        "Highlight":       "base01",
        "HighlightedText": "base05",
        "Light":           "base03"
    },

    "theme-colors": {
        "addressColor":                         "base09",
        "modifiedColor":                        "base08",
        "insertedColor":                        "base0C",
        "notPresentColor":                      "base03",
        "selectionColor":                       "base02",
        "outlineColor":                         "base05",

        "backgroundHighlightDarkColor":         "base00",
        "backgroundHighlightLightColor":        "base01",

        "boldBackgroundHighlightDarkColor":     "base0F",
        "boldBackgroundHighlightLightColor":    "base03",

        "alphanumericHighlightColor":           "base0A",
        "printableHighlightColor":              "base08",

        "graphBackgroundDarkColor":             "base01",
        "graphBackgroundLightColor":            "base01",
        "graphNodeDarkColor":                   "base00",
        "graphNodeLightColor":                  "base00",
        "graphNodeOutlineColor":                "base03",

        "trueBranchColor":                      "base0B",
        "falseBranchColor":                     "base08",
        "unconditionalBranchColor":             "base0D",
        "altTrueBranchColor":                   "base06",
        "altFalseBranchColor":                  "base07",
        "altUnconditionalBranchColor":          "base08",

        "registerColor":                        "base0B",
        "numberColor":                          "base09",

        "codeSymbolColor":                      "base0D",
        "dataSymbolColor":                      "base0B",

        "stackVariableColor":                   "base08",
        "importColor":                          "base0D",
        "instructionHighlightColor":            "base03",
        "tokenHighlightColor":                  "base05",
        "annotationColor":                      "base0E",
        "opcodeColor":                          "base03",

        "linearDisassemblyFunctionHeaderColor": "base00",
        "linearDisassemblyBlockColor":          "base00",
        "linearDisassemblyNoteColor":           "base01",
        "linearDisassemblySeparatorColor":      "base03",

        "stringColor":                          "base0B",
        "typeNameColor":                        "base0A",
        "fieldNameColor":                       "base05",
        "keywordColor":                         "base0E",
        "uncertainColor":                       "base03",

        "scriptConsoleOutputColor":             "base0B",
        "scriptConsoleErrorColor":              "base08",
        "scriptConsoleEchoColor":               "base05",

        "blueStandardHighlightColor":           "base0D",
        "greenStandardHighlightColor":          "base0B",
        "cyanStandardHighlightColor":           "base0C",
        "redStandardHighlightColor":            "base08",
        "magentaStandardHighlightColor":        "base0E",
        "yellowStandardHighlightColor":         "base0A",
        "orangeStandardHighlightColor":         "base09",
        "whiteStandardHighlightColor":          "base04",
        "blackStandardHighlightColor":          "base02"
    }
}
