<!--    Base16 {{scheme-name}}
        Author: {{scheme-author}}   -->

<application>
  <component name="MaterialThemeConfig">
    <option name="version" value="2.2.0.1" />
    <option name="selectedTheme" value="CUSTOM" />
    <option name="highlightColor" value="{{base0D-hex}}" />
    <option name="accentColor" value="{{base0D-hex}}" />
    <option name="darkTitleBar" value="true" />
  </component>
</application>
