<!--    Base16 {{scheme-name}}
        Author: {{scheme-author}}   -->

<application>
  <component name="MaterialCustomThemeConfig">
    <option name="notificationsColor" value="{{base00-hex}}" />
    <option name="treeSelectionColor" value="{{base0D-hex}}" />
    <option name="highlightColor" value="{{base02-hex}}" />
    <option name="secondBorderColor" value="{{base00-hex}}" />
    <option name="tableSelectedColor" value="{{base0D-hex}}" />
    <option name="contrastColor" value="{{base01-hex}}" />
    <option name="disabledColor" value="{{base04-hex}}" />
    <option name="secondaryBackgroundColor" value="{{base01-hex}}" />
    <option name="buttonColor" value="{{base00-hex}}" />
    <option name="selectionForegroundColor" value="{{base06-hex}}" />
    <option name="selectionBackgroundColor" value="{{base0D-hex}}" />
    <option name="textColor" value="{{base06-hex}}" />
    <option name="foregroundColor" value="{{base05-hex}}" />
    <option name="backgroundColor" value="{{base00-hex}}" />
  </component>
</application> 
