; base16-{{scheme-slug}}

normal_background_color=#{{base00-hex}}
normal_foreground_color=#{{base05-hex}}
selected_background_color=#{{base02-hex}}
selected_foreground_color=#{{base05-hex}}
selected_inactive_background_color=#{{base01-hex}}
selected_inactive_foreground_color=#{{base05-hex}}