# Base16 {{scheme-name}} for gtk2 (https://github.com/dawikur/base16-gtk2)
# By {{scheme-author}}

gtk-color-scheme = "bg_color:#{{base00-hex}}\nfg_color:#{{base05-hex}}\nbase_color:#{{base00-hex}}\ntext_color:#{{base05-hex}}\nselected_bg_color:#{{base02-hex}}\nselected_fg_color:#{{base05-hex}}\ntooltip_bg_color:#{{base00-hex}}\ntooltip_fg_color:#{{base04-hex}}\ntitlebar_bg_color:#{{base00-hex}}\ntitlebar_fg_color:#{{base0D-hex}}\nmenubar_bg_color:#{{base00-hex}}\nmenubar_fg_color:#{{base0D-hex}}\ntoolbar_bg_color:#{{base00-hex}}\ntoolbar_fg_color:#{{base0A-hex}}\nmenu_bg_color:#{{base00-hex}}\nmenu_fg_color:#{{base05-hex}}\npanel_bg_color:#{{base00-hex}}\npanel_fg_color:#{{base0B-hex}}\nlink_color:#{{base09-hex}}"

