# Base16 {{scheme-name}}
# Author: {{scheme-author}}

set default-bg                  "#{{base00-hex}}"
set default-fg                  "#{{base01-hex}}"

set statusbar-fg                "#{{base04-hex}}"
set statusbar-bg                "#{{base02-hex}}"

set inputbar-bg                 "#{{base00-hex}}"
set inputbar-fg                 "#{{base07-hex}}"

set notification-bg             "#{{base00-hex}}"
set notification-fg             "#{{base07-hex}}"

set notification-error-bg       "#{{base00-hex}}"
set notification-error-fg       "#{{base08-hex}}"

set notification-warning-bg     "#{{base00-hex}}"
set notification-warning-fg     "#{{base08-hex}}"

set highlight-color             "#{{base0A-hex}}"
set highlight-active-color      "#{{base0D-hex}}"

set completion-bg               "#{{base01-hex}}"
set completion-fg               "#{{base0D-hex}}"

set completion-highlight-fg     "#{{base07-hex}}"
set completion-highlight-bg     "#{{base0D-hex}}"

set recolor-lightcolor          "#{{base00-hex}}"
set recolor-darkcolor           "#{{base06-hex}}"

set recolor                     "false"
set recolor-keephue             "false"
