IDE:
  editor:
    themes:
      base16-{{scheme-slug}}:
        built-in: !textFormat
          color: "#{{base0E-hex}}"
          background: "#{{base00-hex}}"
          italic: false
        char: !textFormat
          color: "#{{base0B-hex}}"
          background: "#{{base00-hex}}"
          italic: false
        class: !textFormat
          color: "#{{base0A-hex}}"
          background: "#{{base00-hex}}"
          italic: false
        comment: !textFormat
          color: "#{{base03-hex}}"
          background: "#{{base00-hex}}"
          italic: false
        currentLine: !textFormat
          color: "#{{base05-hex}}"
          background: "#{{base03-hex}}"
          italic: false
        env-var: !textFormat
          color: "#{{base08-hex}}"
          background: "#{{base00-hex}}"
          italic: false
        evaluatedCode: !textFormat
          color: "#{{base05-hex}}"
          background: "#{{base03-hex}}"
          italic: false
        keyword: !textFormat
          color: "#{{base0E-hex}}"
          background: "#{{base00-hex}}"
          bold: true
          italic: false
        lineNumbers: !textFormat
          color: "#{{base03-hex}}"
          background: "#{{base00-hex}}"
          italic: false
        matchingBrackets: !textFormat
          color: "#{{base05-hex}}"
          background: "#{{base02-hex}}"
          bold: true
          italic: false
        mismatchedBrackets: !textFormat
          color: "#{{base05-hex}}"
          background: "#{{base0E-hex}}"
          italic: false
        number: !textFormat
          color: "#{{base09-hex}}"
          background: "#{{base00-hex}}"
          italic: false
        postwindowemphasis: !textFormat
          color: "#{{base05-hex}}"
          background: "#{{base00-hex}}"
          bold: true
          italic: false
        postwindowerror: !textFormat
          color: "#{{base08-hex}}"
          background: "#{{base00-hex}}"
          italic: false
        postwindowsuccess: !textFormat
          color: "#{{base0B-hex}}"
          background: "#{{base00-hex}}"
          italic: false
        postwindowtext: !textFormat
          color: "#{{base05-hex}}"
          background: "#{{base00-hex}}"
          italic: false
        postwindowwarning: !textFormat
          color: "#{{base09-hex}}"
          background: "#{{base00-hex}}"
          italic: false
        primitive: !textFormat
          color: "#{{base0A-hex}}"
          background: "#{{base00-hex}}"
          italic: false
        searchResult: !textFormat
          color: "#{{base05-hex}}"
          background: "#{{base01-hex}}"
          italic: false
        selection: !textFormat
          color: "#{{base05-hex}}"
          background: "#{{base02-hex}}"
          italic: false
        string: !textFormat
          color: "#{{base0B-hex}}"
          background: "#{{base00-hex}}"
          italic: false
        symbol: !textFormat
          color: "#{{base0D-hex}}"
          background: "#{{base00-hex}}"
          italic: false
        text: !textFormat
          color: "#{{base05-hex}}"
          background: "#{{base00-hex}}"
          italic: false
        whitespace: !textFormat
          color: "#{{base02-hex}}"
          background: "#{{base00-hex}}"
          italic: false
