# vi:syntax=toml

# base16-i3status-rust (https://github.com/mystfox/base16-i3status-rust)
# {{scheme-name}} by {{scheme-author}}

[theme]
name = "solarized-dark"
[theme.overrides]
idle_bg = "#{{base00-hex}}"
idle_fg = "#{{base05-hex}}"
info_bg = "#{{base0C-hex}}"
info_fg = "#{{base00-hex}}"
good_bg = "#{{base0B-hex}}"
good_fg = "#{{base00-hex}}"
warning_bg = "#{{base0A-hex}}"
warning_fg = "#{{base00-hex}}"
critical_bg = "#{{base08-hex}}"
critical_fg = "#{{base00-hex}}"
# The rest of the theme settings are left at default.
